.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.btn {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  background-color: #4ecca3;
  color: white;
  padding: 10px;
  margin: 4%;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Lobster", cursive;
}

img {
  width: 80%;
}

footer {
  color: #eeeeee;
  text-align: center;
  font-family: "Lobster", cursive;
}
